S3_ACCESS_KEY="your_s3_access_key"
S3_SECRET_KEY="your_s3_secret_key"
BUCKET_NAME="your_bucket_name"
ENDPOINT="your_endpoint"
AUTH_JWT_KEY="your_auth_jwt_key"
SIGNING_SECRET="your_signing_secret"
CLERK_JWT_PUBLIC_KEY=""

# Stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

# Frontend URL
FRONTEND_URL="http://localhost:3000"
WEBHOOK_BASE_URL="http://localhost:8080"

REPLICATE_API_TOKEN="your_replicate_api_token"

# Database


